{
  "flutter": {
    "platforms": {
      "android": {
        "default": {
          "projectId": "document-management-syst-fdbc1",
          "appId": "",
          "fileOutput": "android/app/google-services.json"
        }
      },
      "dart": {
        "lib/firebase_options.dart": {
          "projectId": "document-management-syst-fdbc1",
          "configurations": {
            "android": "",
            "ios": "",
            "web": ""
          }
        }
      }
    }
  },
  "firestore": {
    "database": "(default)",
    "location": "asia-southeast1",
    "rules": "firestore.rules",
    "indexes": "firestore.indexes.json"
  },
  "auth": {
    "providers": {
      "emailPassword": true,
      "googleSignIn": {
        "oAuthBrandDisplayName": "Praetorian",
        "supportEmail": "support@undefined.firebaseapp.com"
      }
    }
  }
}